html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}
section{
  padding-top: 20vh;
  padding-bottom: 20vh;
}
/*header */
  .header-area .header-top_area {
    padding: 12px 0;
    background: #09162a;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .social_media_links {
       text-align: center;
     }
   }
   .header-area .header-top_area .social_media_links a {
    font-size: 20px;
    margin-right: 12px;
  }
  .header-area .header-top_area .social_media_links a:hover {
    color: #008b8b;
  }
  .header-area .header-top_area .short_contact_list {
    text-align: right;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list {
      text-align: center;
    }
  }
  .header-area .header-top_area .short_contact_list ul li {
    display: inline-block;
  }
  .header-area .header-top_area .short_contact_list ul li a {
    font-size: 16px;
    color: #fff;
    margin-left: 50px;
  }
  .header-area .header-top_area .short_contact_list ul li a:hover {
    color: #fff;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list ul li a {
      margin-left: 0;
      margin: 0 5px;
    }
  }
  .header-area .header-top_area .short_contact_list ul li a i {
    color: #28AE60;
    margin-right: 7px;
  }
#icon{
  font-size: 16px;
  color: #fff;
}
/*download Button*/
.download {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    border-radius: 3px;
    position: relative;
    padding-right: 30px;
    border: none;
    background-color: #008b8b;
    color: #fff;
    display: block;
    margin: 5px auto;
    height: 40px;
    width: 162px;
}

.download:hover {
    background-color: #09162a;
}

.download:hover i {
    transform: rotate(10deg);
}

.download i {
    position: absolute;
    top: 15px;
    right: 15px;
}

.download.bounce-in {
    background-color: rgb(50, 130, 149);
    border: none;
    color: #fff;
    padding-right: 6px;
    animation: bounce-in 0.4s;
}
/*====navigation =========*/
nav{
    padding: 25px;
    position: sticky;
    top: 0;
    background-color: transparent;
    display: grid;
    gap: 30%;
    grid-template-columns: 25% auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li a {
    text-decoration: none;
    color: #008b8b;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background-color: darkcyan;
    transition: width .2s ease-in-out;
}
nav ul li a.current::after{
    width: 100%;
}
nav ul li a:hover::after{
    width: 100%;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    font-size: 25px;
    color: #008b8b;
}
/*about*/

/*////////////////////////////////////////////////*/
/* IDEA: why Hire me */
.section-title {
  font-weight: 400;
  color: darkcyan;
}
.section-title strong{
  font-weight: 700;
}
.section-subtitle {
  font-weight: 650;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #008b8b;
}
.block-2 {
  background: transparent;
  padding: 5rem 0;
}
.block-2 .img-overlap {
  margin-top: -55px;
}

.text-white {
  text-transform: uppercase;
  font-weight: 550;
}

#fe {
  font-size: 30px;
  padding-bottom: 8px;
}
#fey {
  padding-bottom: 8px;
  font-size: 30px;
}
#few {
  padding-bottom: 8px;
  font-size: 30px;
}
#texts {
  color: #fff;
  font-size: 1.0rem;
}
#texts strong {
  text-transform: capitalize;
  font-weight: bold;
}
#text {
  color: #008b8b;
  text-transform: capitalize;
}
.pb-0 {
  padding-bottom: 0;
}
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.mr- {
  margin-right: 4px;
}
.ml-auto {
  margin-left: auto;

}
.line-height-0 {
  line-height: 0;
}
.Hire {
  background: #09162a;
}
.my-5{
  padding-bottom: 50px;
}
/*//////////////////////////////////////////////*/
/* IDEA:skillsl */
.achievements {
  background-image: url('images/security.jpg');
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 100px;
}
.achievements:after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}
.achievements .achieve {
  padding-top: 65px;
}
.titt h2 {
  font-weight: 700;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: underline;
  color: darkcyan;
}
.titt h4 {
  color: #fff;
}
.achievements .achieve .completed {
  text-align: center;
  border-right: 3px solid #fff;
}
.achievements .achieve .completed:last-child {
  border: 0;
}
.achievements .achieve .completed i {
  padding-top: 15px;
  color: rgb(255,255,255);
  font-size: 35px;
  display: block;
  padding-bottom: 15px;
}
.achievements .achieve .completed .counter{
  font: 700 40px "Roboto", sans-serif;
  color: darkcyan;
}
.achievements .achieve .completed .counter{
  font: 700 40px "Roboto", sans-serif;
  color: darkcyan;
  padding-top: 35px;
}
.achievements .achieve .completed h6 {
  font: 550 16px "Roboto", sans-serif;
  color: white;
  padding-top: 20px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/*================== Education and Experience =================*/
.title {
    margin: 50px 0 30px;
}
.course-right .lnr, .course-left .lnr {
  color: #008b8b;
  font-size: 30px;
}

.course-right h4, .course-left h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-course {
  margin-bottom: 40px;
  color: #008b8b;
}
.h4-text{
   color: #008b8b;
 }
/*==== CONTACT US ====*/
#sect {
    padding-bottom: 90px;
    padding-top: 30px;
  }
  #sect {
    background: transparent;
  }
  .contac {
    color: #008b8b;
  }
  #contac {
    color: #008b8b;
  }
 p #name{
      color: maroon;
  }
  .form-control {
    background: transparent;
  }
  .details {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .detail {
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
    color: #fff;
    background: transparent;
  }
  #icona {
    margin-right: 100px;
    padding-bottom:0px;
  }
  #contaspan {
    color: #008b8b;
    font-size: 20px;
    font-weight: bold;
  }
.pt-3{
    padding-top: 3px;
}
.md-form{
    color: #008b8b;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 4px;
}
#btn{
  color: #fff;
  background: #008b8b;
  font-weight: bold;
}
#btn:hover{
  color: #008b8b;
  background: #09162a;
}

/*==== footer============*/
.cyan{
  background: #09162a;
}
.flex-center{
  align-items: center;
}
.footer-copyright,.white-text{
  color: #fff;
}
#footer-text{
  color: #fff;
}
