html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

/*header */
  .header-area .header-top_area {
    padding: 12px 0;
    background: #fff;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .social_media_links {
       text-align: center;
     }
   }
   .header-area .header-top_area .social_media_links a {
    font-size: 20px;
    margin-right: 12px;
  }
  .header-area .header-top_area .social_media_links a:hover {
    color: #28AE60;
  }
  .header-area .header-top_area .short_contact_list {
    text-align: right;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list {
      text-align: center;
    }
  }
  .header-area .header-top_area .short_contact_list ul li {
    display: inline-block;
  }
  .header-area .header-top_area .short_contact_list ul li a {
    font-size: 16px;
    color: #008b8b;
    margin-left: 50px;
  }
  @media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list ul li a {
      margin-left: 0;
      margin: 0 5px;
    }
  }
  .header-area .header-top_area .short_contact_list ul li a i {
    color: #28AE60;
    margin-right: 7px;
  }
     

  /* sections*/
section{
    background: var(--color);
}
nav{
    padding: 25px;
    position: sticky;
    top: 0;
    background-color: transparent;
    display: grid;
    gap: 30%;
    grid-template-columns: 25% auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li a {
    text-decoration: none;
    color: #008b8b;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
}
nav ul liu a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background-color: darkcyan;
    transition: width .2s ease-in-out;
}
nav ul li a.current::after{
    width: 100%;
}
nav ul li a:hover::after{
    width: 100%;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    font-size: 25px;
    color: #008b8b;
}

/*======================Home section======================
==========================================================*/
.hero {
    position: absolute;
    bottom: 120px;
    right: 50px;
    z-index: 100; }
.hero .owl-nav .owl-prev, .hero .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #09162a;
    color: #008b8b;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.site-blocks {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative; 
}
.site-blocks.overlay {
    position: relative;
}
.site-blocks.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}
.site-blocks, .site-blocks > .container > .row {
    min-height: 600px;
    height: calc(100vh); 
}
.site-blocks.inner-page, .site-blocks.inner-page > .container > .row {
    min-height: 600px;
    height: calc(80vh); 
}
.site-blocks h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
 }
@media (max-width: 991.98px) {
    .site-blocks h1 {
        font-size: 4rem; 
    } 
}
.site-blocks .sub-text {
    font-size: 1.4rem;
    color: gray;
    font-weight: 300;
 }
@media (max-width: 991.98px) {
    .site-blocks .sub-text {
        color: #008b8b; 
    }
}
.site-blocks .img-wrap {
    position: absolute;
    z-index: -1;
    width: calc(100% - 50%);
    top: 0;
    height: 100%;
    z-index: 2;
    right: 50%;
    min-height: 600px;
    overflow: hidden;
    border-bottom-right-radius: 200px;
 }
@media (max-width: 991.98px) {
    .site-blocks .img-wrap {
        width: 100%;
        right: 0%;
        top: 0;
    }
    .site-blocks .img-wrap .hero:before {
        position: absolute;
        content: "";
        background: #fff;
        opacity: .5;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    } 
}
.site-blocks .img-wrap .slide {
    height: 100vh;
    position: relative; 
}
.site-blocks .img-wrap .slide img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
 }
.site-blocks .intro {
    z-index: 3;
    position: relative; 
}
.site-blocks .intro .head {
    margin-left: -150px; 
}
@media (max-width: 991.98px) {
    .site-blocks .intro .head {
      margin-left: 0; 
    }
}
.site-blocks .intro .text {
    padding-left: 50px;
 }
@media (max-width: 991.98px) {
    .site-blocks .intro .text {
        padding-left: 0;
    } 
}
.site-menu-toggle .menu-text {
  position: relative;
  top: -6px;
  text-transform: uppercase; 
}
/*============================ About Me ======================================*/
.me{
    padding-bottom: 100px;
}
.image {
    height: 85%;
    border-radius: 15%;
}
.about {
    text-align: center;
    color: #008b8b;
}
/*download Button*/
.download {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    border-radius: 3px;
    position: relative;
    padding-right: 30px;
    border: none;
    background-color: #008b8b;
    color: #fff;
    display: block;
    margin: 5px auto;
    height: 40px;
    width: 162px;
}

.download:hover {
    background-color: #09162a;
}

.download:hover i {
    transform: rotate(10deg);
}

.download i {
    position: absolute;
    top: 15px;
    right: 15px;
}

.download.bounce-in {
    background-color: rgb(50, 130, 149);
    border: none;
    color: #fff;
    padding-right: 6px;
    animation: bounce-in 0.4s;
}
/*============================ Experiences ================================*/
.sect{
    color: #008b8b;
    padding-top: 30px;
}
.card-content {
    padding:15px;
    text-align: center;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }
/*============================ Contact Form ===============================*/
.contact_form_quote {
    padding-top: 0px;
    padding-bottom: 100px;
  }
.contact_form_quote .form_wrap {
    margin-bottom: 30px;
}
.contact_form_quote .form_wrap {
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .contact_form_quote .form_wrap h3 {
        font-size: 38px;
    }
}
  
.contact_form_quote .form_wrap form input, .contact_form_quote .form_wrap form textarea {
    height: 36px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-size: 15px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.contact_form_quote .form_wrap form input::placeholder, .contact_form_quote .form_wrap form textarea::placeholder {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}
.contact_form_quote .form_wrap form textarea {
    height: 40px !important;
    resize: none;
    margin-top: 70px;
}
.contact_form_quote .form_wrap form button {
    width: 100%;
    text-align: center;
    padding: 13px;
}
.contact_form_quote .contact_thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.contact_form_quote .contact_thumb img {
    width: 100%;
}
img {
    height: 75%;
    width: 100%;
}
/* IDEA: CONTACT US */
#sect {
    padding-bottom: 90px;
    padding-top: 30px;
  }
  #sect {
    background: #fff;
  }
  .contac {
    color: rgb(0,191,255);
  }
  #contac {
    color: rgb(0,191,255);
  }
 p #name{
      color: maroon;
  }
  .form-control {
    background: transparent;
  }
  .details {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .detail {
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
    color: #fff;
    background: #09162a;
  }
  #icona {
    margin-right: 100px;
    padding-bottom:0px;
  }
  #contaspan {
    color: rgb(0,191,255);
    font-size: 20px;
    font-weight: bold;
  }
.pt-3{
    padding-top: 3px;
}
.md-form{
    color: rgb(0,191,255);
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 4px;
}
#facebook{
    color: darkblue;
  }
  #whatsapp {
    color: green;
  }
  #google {
    color: red;
  }
  #linkedin {
    color: rgb(0,191,255);
  }
  #
  #call{
      color: #09162a;
  }